<div class="row">
  <div class="col-md-12">
    <div class="island">

      <div class="row">

        <div class="col-md-12">
          <h2>Joining Guild Medieval</h2>
          <hr>
        </div>

        <div class="col-md-12">

          <h3 class="text-danger">Not everyone is the right fit for Guild Medieval. Please read below before continuing...</h3>

          <p>
            Whilst we attempt to edit or remove any messages containing inappropriate, sexually orientated, abusive, hateful, slanderous, or threatening material that could be considered invasive of a persons privacy, or which otherwise violate any kind of law, it is impossible for us to review every message posted on this discussion system. For this reason you acknowledge that all messages posted on this discussion system express the views and opinions of the original message author and not necessarily the views of this bulletin board. Therefore we take no responsibility and cannot be held liable for any messages posted. We do not vouch for or warrant the accuracy and completeness of every message.
          </p>

          <p>
            By registering on this discussion system you agree that you will not post any material which is knowingly false, inaccurate, abusive, hateful, harassing, sexually orientated, threatening or invasive of a person's privacy, or any other material which may violate any applicable laws.
          </p>

          <p>
            Failure to comply with these rules may result in the termination of your account, account suspension, or permanent ban of access to these forums. Your IP Address is recorded with each post you make on this discussion system and is retrievable by the forum staff if need-be. You agree that we have the ability and right to remove, edit, or lock any account or message at any time should it be seen fit. You also agree that any information you enter on this discussion system is stored in a database, and that "cookies" are stored on your computer to save your login information. Any information you provide on these forums will not be disclosed to any third party without your complete consent, although the staff cannot be held liable for any hacking attempt in which your data is compromised.
          </p>

          <form name="agreeToTerms" action="http://guildmedieval.com/forum/member.php" method="post">
            
            <input type="hidden" name="step" value="agreement">
            <input type="hidden" name="action" value="register">
            <input type="hidden" name="agree" value="I Agree">
            <hr>
            <div class="checkbox">
              <label>
                <input type="checkbox" data-ng-click="updateValue()" data-ng-model="agreeValue"> I have read, understand and agree to <a href="#/rules">The Rules and Policies of Guild Medieval</a> and comprehend the implications of not following such.
              </label>
            </div>

            <p class="text-right">
              <button href="http://guildmedieval.com/forum/member.php" type="submit" class="btn btn-primary" data-ng-disabled="!agreeValue">
                Sign Up!
              </button>
            </p>

          </form>

        </div>

      </div>

    </div>
  </div>
</div>