<div class="row">
	<div class="col-md-12">
		
		<div class="transparent">
			<div class="row">

				<div class="col-md-12">
					<h1 class="feature-font">Guild Medieval</h1>
					<div class="call-to-action pull-right">
						<p class="lead">Ready to start your adventure?</p>
						<a href="#/join" class="btn btn-success btn-lg">
							<span class="glyphicon glyphicon-ok"></span> Sign me Up! 
						</a>
					</div>
				</div>

			</div>
		</div>

		<div class="island">
			<div class="row">
				<div class="col-md-12">
					<h2>Welcome, Friend!</h2>
					<hr>
				</div>
				<div class="col-md-8">

					<div class="video-wrapper">

						<div data-width="420" data-height="315" data-src="//www.youtube.com/embed/YEz6TixR4ys" youtube-embed=""></div>

						<p>
							Launched on March 20th, 2001, Guild Medieval was conceived to provide a drama free, family oriented, and people focused environment for mature gamers who wished to play online without the antics often found in open games. We believe that the person behind the keyboard is more important than the pixels on the screen and that everyone should have the opportunity to play without fear of being harassed, heckled, or abused. 
						</p>
						<p>
							While we will not organize your game play for you, we will offer you an environment in which you can pursue your own gaming style of your choice with others of similar gaming style and mentality. We do have Rules that we all follow, from our Guild Leader, Philly, to our newest member, to ensure this happens. You can read our Rules here.
						</p>
						<p>
							Over a decade later, we are still growing and serve as proof that gamers of all ages, from all continents around the world, prefer to be a part of a community that looks out for and takes care of its own.
						</p>
						<p>
							Be sure to check out what games currently have a GM presence, and if this type of community sounds like what you've been looking for, click here to fill out an application.
						</p>

					</div>

				</div>
				<div class="col-md-4 logo-box">

					<img src="images/logos/diablo3.png" class="img-responsive">
					<img src="images/logos/ddo.png" class="img-responsive">
					<img src="images/logos/neverwinter.png" class="img-responsive">
					<img src="images/logos/poe.png" class="img-responsive">
					<img src="images/logos/rift.png" class="img-responsive">

				</div>
		</div>

		<div class="row">

			<div class="col-md-10 col-md-offset-1">
				<div class="alert alert-danger shadow">
					<h3><span class="glyphicon glyphicon-warning-sign"></span> Important Notice!</h3>
					<hr>
					<p>
						If you have returned after our April 2013 forums upgrade you will need to use the
						<span class="lead"><a href="http://guildmedieval.com/forum/member.php?action=lostpw">PASSWORD RESET</a></span> link to request a new password. For this to work you need to know what email address you were registered on the old system with. If you have problems please email:
						<a href="mailto:convert@guildmedieval.com">convert@guildmedieval.com</a>
					</p>
				</div>
			</div>

		</div>

	</div>
</div></div>