<div class="row">
  <div class="col-md-12">
    <div class="island">

      <div class="row">
        <div class="col-md-12">
          <h2>Meet the Officers</h2>
          <hr>
        </div>
      </div>

      <div class="row" data-ng-repeat="officer in officers">
        <div class="col-xs-5 col-sm-3 col-md-2 text-center">
          <br>
          <br>
          <img data-ng-src="images/{{ officer.avatar }}" class="img-responsive" alt="{{ officer.name }} | {{ officer.rank }}">
        </div>
        <div class="col-xs-7 col-sm-9 col-md-10">
          <h3 class="text-warning">{{ officer.name }}</h3>
          <p><em class="text-danger">{{ officer.rank }}</em></p>
          <p>{{ officer.text }}</p>
        </div>
      </div>

    </div>
  </div>
</div>