<div class="row">
  <div class="col-md-12">
    <div class="island">
      <div class="row">
        <div class="col-md-12">
          <h2>Ranks</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li data-ng-class="{ active: currentIndex == $index }" data-ng-repeat="rank in ranks">
              <a href="" data-ng-click="selectRank($index)">{{ rank.name }}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <h3 class="text-warning">{{ currentRank.name }}</h3>
          <p>{{ currentRank.text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>