<div class="row">
	<div class="col-md-12">
		<div class="island">
			<div class="row">
				<div class="col-md-12">
					<h2>The Rules</h2>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<ul class="nav nav-pills nav-stacked">
						<li data-ng-class="{ active: currentView == rule.href }" data-ng-repeat="rule in rulesList">
							<a data-ng-href="#/rules/{{ rule.href }}">{{ rule.text }}</a>
						</li>
					</ul>
				</div>
				<div class="col-md-9">
					<section data-ng-include="rulesTemplate"></section>
				</div>
			</div>
		</div>
	</div>
</div>