<div class="container" data-ng-controller="MainController">
	<div class="row">
		<div class="col-md-4">
			<small>Copyright &copy; {{ year }}, GuildMedieval.com</small>
		</div>
		<div class="col-md-8 text-right">
			<small>Questions? Feedback? Beer Donations? 
				<a href="mailto:help@guildmedieval.com">@get in touch!</a>
			</small>
		</div>
	</div>
</div>