<div class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-custom">

  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GM</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in items">
          <a data-ng-href="#{{ item.href }}">
            <small><span class="glyphicon glyphicon-{{ item.icon }}"></span></small>
            {{ item.text }}
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right navbar-user">
        <li>
          <form class="form-inline" role="form" action="http://guildmedieval.com/forum/member.php" method="post">
            <input type="hidden" name="action" value="do_login">
            <input type="hidden" name="url" value="http://guildmedieval.com/forum/portal.php">
            <div class="form-group">
              <label class="sr-only" for="username">Username</label>
              <input type="text" class="form-control" name="username" id="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label class="sr-only" for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </li>
      </ul>

    </div>

  </div>

</div>