<h3 class="text-warning">English</h3>
<p>
	Yes, English is the official language of our guild, no getting around it. We do our best to understand folks whose first language is not English, but there are limits. If a member cannot take directions in party and is unfortunately making a bad name for our guild in doing so, we will need to part ways.
</p>