<h3 class="text-warning">Out of Character Knowledge</h3>
<p>
	We also have a standing policy of explaining the quest and dangers before we reach them. You'll find that this is pretty much how everyone in MMOs operate. If you wish to explore a quest or area without forewarning, it is your responsibility to communicate this before the quest begins and your guild members will make their best effort in accommodating you. Running a quest with no forewarning can be very exciting and fun even for those who know the quest well.
</p>