<h3 class="text-warning">Knighthood</h3>
<p>
	All members new to GM begin as Squires. Squires are trial members, and become full members of GM once they become a Knight. Knights and officers vote on whether a Squire should be promoted to become a Knight. A Squire deserves all the respect as any other member of GM, but cannot directly recruit new applicants or vote on fellow Squires. Knighthood is granted after a certain number of positive votes are cast for a Squire and time has passed (dependent on the realm), and there are no doubts that the Squire is GM material.
</p>
<p>
	Not becoming a Knight as quickly as others is not necessarily a bad sign, but hose quicker to Knighthood are generally very visible on the forums and in chat, and often join or form groups, making their name known to others. A squire taking over 90 days to achieve knighthood may be removed for inactivity at the discretion of the Realm Leader. Make sure to communicate any real life events or scheduling that is keeping you away from the game and guild.
</p>
<p>
	A Squire can always ask in guild or party chat for people to cast a vote, positive or negative. Not everyone will vote. Some feel they do not know you well enough, but they may leave a comment. A Squire wishing to know in general how they stand can send a PM to a Knight Templar (KT) asking for feedback and recommendations. The current vote tally will not be revealed. KTs in general will help guide you towards becoming a Knight.
</p>