<h3 class="text-warning">To Zerg or Not to Zerg (MMOs)</h3>
<p>
	We have a standing guild policy of non-zerg. Zerging (rushing through a quest to reach the end goal as quickly as possible) is not forbidden, but if you're going to do so, be sure to be very clear of that in advance; i.e. advertise as a zerg group. It is understood that groups will form that are very familiar with quests and only want to complete for favor or quick XP. Please just state so in advance.
</p>
<p>
	Likewise, if you want a group to slow down or to reach optional goals, make that known to your group members. Pacing can be perceived differently by different people so you really need to communicate during the quest. In general, if someone says "I want to see what's behind this door", please oblige even if you've opened that door a hundred times. The person with you has not and we want every member to be able to have that experience at least once.
</p>