<h3 class="text-warning">On the Giving and Taking of Advice</h3>
<p>
	Please share your knowledge with others, and please take advice in the spirit it is given. You don't need to follow the advice, but you can expect to get it again from others, and you should be prepared for rougher treatment by the general population if you are going against established knowledge. If you are new to the game, we'll try to help. Also, please check our forums because we (may) have lots of great information and links to more.
</p>