<h3 class="text-warning">Guild Growth</h3>
<p>
	Some people do like the feeling of knowing everyone in a smaller guild. A guild with a dozen people though takes a lot of dedication from those dozen people to maintain. We just are not that guild. We have many casual players, and our "real life first" mentality precludes scheduling and fully committing to all our runs. The reality of our guild is that you may not know a lot of people you see each time you log in. Remember though that everyone you see has been vetted in some way and should be just the type of person you want to game with. And remember, a growing guild is a healthy guild.
</p>
<p>
	Also, and maybe more importantly, there are like-minded people out there unaware of our guild. It is up to us to let them know about us and bring them into the fold.
</p>