<h3 class="text-warning">Be the Change You Want to See</h3>
<p>
	Cliche, I know, but it perfectly describes the attitude you'll want to bring to Guild Medieval. Simply whining that something isn't happening in the guild, or you aren't being provided with the experience you want will fall on deaf ears, and worse, cast you in a bad light. We are not here to entertain you or to provide services to you. You'll see that our members already give freely of their items, knowledge, and time. "What else have you done for me lately?" will not be taken kindly. As stated several places elsewhere, we only try to guarantee a safe and friendly environment. The rest is up to you.
</p>
<p>
	So, instead of just complaining, look to see how you can make what you want possible. If it's a quest no one seems to be running, put together the group yourself. No one knows the answer to a question? Do some research and put together a guide. Want more guild members on during your playtimes? Go out and find good people to recruit. Encourage other people to join your endeavor--invective and accusations that no one is doing what you want will help you find the door quicker but will do nothing for your cause. Going out and making something happen though will reflect very well on you and encourage others by example. Even as a squire, you have the freedom to take the lead to make things happen. Be warned though, positive behaviors are often rewarded with officership.
</p>