<h3 class="text-warning">Loot</h3>
<p>
	If loot has your name on it, it is yours. Please don't rush in and snag other people's loots if your game has free-for-all looting. That's rude, and won't incline people to group with you in the future. Use instanced loot or a round robin method if applicable to simply avoid any potential loot confusion and hard feelings. If running a quest or raid for a particular piece of gear, it is a good idea to announce it up front. It is considered good form to reward members of your party for their assistance with loot you are unable to use yourself.
</p>