<h3 class="text-warning">The List</h3>
<p>
	These rules change and get updated. Update announcements will be posted on the forums--it is up to you to review the changes. Individual Realms of Guild Medieval may have additional rules specific and tailored to their respective games. Although we make the effort, we cannot write out everything explicitly in these rules. Remember that Guild Medieval is built on a cooperative spirit of maturity; rule bending, taking advantage of specific wording, or otherwise disregarding the spirit of the rules is regarded the same as breaking the rules.
</p>
<ol>
	<li>
		No swearing, naughty language, off-color/sexist jokes. No sexual banter, screeds against religions, wishing death or ill fortune on anyone allowed. Racism and discrimination not tolerated. There are outlets for "adult" talk you can make use of; this is not one of them. Assume that members' children and young players are viewing chat or listening at all times.
	</li>
	<li>
		Acronyms, slurred words, replacement words, self-censoring through symbols, all read as the profanity you mean it to be read as. Therefore, its not permitted. If you feel the need to curse, take a moment and do it with your microphone off.
	</li>
	<li>
		Your posts may be edited without warning to conform to this policy. Likewise, violations in in-game chat will likely be made public so that others are aware that the language rules are being enforced and you do not receive multiple messages from other members. Don't take it personally.
	</li>
	<li>
		If a discussion is getting heated, cool it. Agree to disagree, take a break, move the discussion to a private venue. We can be friends and disagree on most anything. Even if you enjoy a spirited discussion, be socially aware and recognize that you may be making other people uncomfortable.
	</li>
	<li>
		Guild chat is not a trade channel. If an item is mentioned in guild, it is either being used by yourself, or given away. This rule also applies to trades on the forum. If you wish to give compensation for an item given to you, please instead donate to another member in need or contribute to the guild bank. Trading like items is permissible depending on the Realm. See your specific Realm's trading policy.
	</li>
	<li>
		No begging. Asking for help is not begging; guilt-tripping, or harping endlessly til someone does what you want to simply shut you up is not asking for help. Respect and maturity.
	</li>
	<li>
		All guild members, regardless of rank, are to be treated with respect.
	</li>
	<li>
		Any guild member has the right to ask for identification, ie: your forum name, and rank within the guild.
	</li>
	<li>
		Characters and accounts are to be posted on your Realm's roster or roster thread before they're invited to the in-game guild (if applicable). There is no limit to the number of alts a member may have in the guild. Characters removed from the guild must also be posted to keep the roster up to date.
	</li>
	<li>
		Non-members of the guild are to be treated with courtesy. We work very hard to maintain and build the reputation of Guild Medieval. Please note, this does not mean turn the other cheek. Polite and friendly are not the same thing.
	</li>
	<li>
		It is considered bad form to spam LFG in channels meant for other purposes. Please see previous note on the reputation of Guild Medieval.
	</li>
	<li>
		Use of these forums is mandatory. We expect you to read the important postings here and to interact and contribute to the community.
	</li>
	<li>
		No joining of a group with an existing goal (a quest, loot, XP, zerg vs non-zerg) and demand they change their method or goal.
	</li>
	<li>
		Naming convention. No...
		<ul>
			<li>sexist</li>
			<li>sexually suggestive</li>
			<li>racist</li>
			<li>crude</li>
			<li>offensive</li>
			<li>socially deplorable</li>
			<li>iffy</li>
			<li>names cleverly concealing a violation of the above</li>
			<li>letter jumbles</li>
			<li>names otherwise unpronounceable by the human tongue</li>
		</ul>
	</li><li>
		Also on names, for MMOs and any game with a roleplaying element, no...
		<ul>
			<li>names of the nature of xNameIReallyWantedx (take a minute and find something else)</li>
			<li>names of real groups (ex. Whigparty)</li>
			<li>celebrity names, real or fictional (ex. Britneee Spears, Hairypotter, Drzzzzt)</li>
			<li>Names including pronouns, possessive adjectives, etc. (ex. Ucantseeme, Myfirstbarb, Whodat, Healzpleaz)</li>
			<li>Wholly self-deprecating names (ex. Stinkyfeet McSmellsalot)</li>
		</ul>
		<p>
			In regards in particular to MMOs, pick a roleplaying style name--a name that someone would actually use, and that a real life Game Master wouldn't reject out of hand. Uncouth names are discriminated against, and so are guilds by association. We understand picking a good name can be difficult, but please take the time and effort to at least select an acceptable moniker if said character will be wearing guild tags. It reflects upon us all.
		</p>
		<p>
			Note: Adjectives, adjective-noun combos and some other combinations found in real life names and nicknames are perfectly acceptable. Ex. Runningbear, Compulsive, Sevenwinds, Floatswell.
		</p>
	</li>
	<li>
		Clever, witty, or humorous names may be permissible, at the discretion of leadership, but poor naming choices will be critiqued, and requested removed. Some consideration can be made for purely mule characters. ARPGs operate differently and allow much more freedom for humorous and absurd names.
	</li>
	<li>
		Concerns or complaints about Guild Medieval, or their members should be handled discreetly. We actively discourage and shut down drama of any type. Any forum posts of this nature will be deleted without warning. Please contact someone in leadership privately (in-game tell, forum PM) if a problem arises regarding the guild, other members, etc.
	</li>
	<li>
		Apologies are expected after the breaking of any rules, and after generally poor behavior. Defensiveness, shifting blame, false apologies (i.e. "I'm sorry YOU feel I was rude") are seen as disrespecting the rules and GM, and can grounds for immediate expulsion. A simple "I'm sorry" is all that is needed. A rational discussion as to what led to the problem is fine and welcome. Note that an apology is not enough for repeated offenses.
	</li>
</ol>