<h3 class="text-warning">Room for Several Playstyles</h3>
<p>
	First, that says "several" and not "all". There are several playstyles we as a guild do not appreciate. Running off to solo a dungeon in group and leaving your party in the dust for one (actually soloing a dungeon by yourself is fine; go for it!). We very much want ALL our groups to function as a real party, whether zerging or not. Purposefully hindering others or continuing to play "jokes" that amuse only yourself is another behavior we do not approve of. I'm sure you can think of other playstyles that do not mesh with how our guild conducts itself.
</p>
<p>
	What we do have room for is "casual" and "hardcore" players. Like those terms or not, you know what we are getting at. Someone who spends a few hours a week in game is just as welcome as someone who spends twelve hours a day. Roleplayers and permadeath players too have a place here. As long as someone is GM material, they are welcome to play as they like and should not be looked down on for how they enjoy the game.
</p>