<h3 class="text-warning">Overview</h3>

<p>
	The requirements to join Guild Medieval are very stringent. You must read these rules and policies in full before filling out an application. If these rules seem burdensome, or you just don't feel like reading them, then this guild is not for you. If you agree to these rules, and believe as we do that they are the necessary foundation for a stable and drama-free guild, then please proceed.
</p>
<p>
	In addition, you will be asked why you want to join Guild Medieval on the application. If you write less than a nice paragraph explaining how you and Guild Medieval will be a good fit, your application will be rejected. What you read below should give you a very good idea of what we are about. Write to this and convince us that we should extend to you a trial membership.We will not invite into our home a stranger who shows up and simply says, <em>"Hey, let me in. I'm mature. I agree to your rules and I'll behave."</em> Make a good first impression though, come across as someone we would like to be friends with, and we will let you in and let you introduce yourself to our family.
</p>

<hr>

<h3 class="text-warning">Edicts from on High</h3>
<ol>
	<li>Thou Shalt Have Fun. If you aren't, stop. Not later. Now.</li>
	<li>Play What, How, and When You Want. You are playing this game for yourself, not for others.</li>
	<li>Real Life Always Comes First. Always. No need for apologies. Take care of your kids, your significant other, yourself first.</li>
	<li>Be Excellent to Each Other.</li>
</ol>