<h3 class="text-warning">Lowbie's Choice</h3>
<p>
	If a party forms or is forming without a clear goal, the lowest level member should decide on what to do. If more than one member is at the lowest level, the newest member to the game, or to Guild Medieval should choose. This policy is not to supersede a party leader setting goals when forming a party, but is merely a tool to prevent a group from using play time to debate which quest to go on.
</p>