<h3 class="text-warning">Getting the Boot</h3>
<p>
	It is inevitable that someone reading this (or more likely someone who didn't bother to read and signed the thread anyway) will be removed from the guild. It does not happen too often, but it is usually very clear why it was done. We don't coach people back or try to find some middle ground for these folks. There is also no hand-holding discussion as we wish you well elsewhere. As we say, the guild is the way it is, and it does not bend to suit you. It is your responsibility to conform to approved behaviors. The people getting tossed are usually going for broke in upsetting people, and it should come as no surprise when we respond by removing forum access and removing characters, warning or no.
</p>
<p>
	If you get the boot and have no idea why, check to make sure you just weren't inactive first. Buttons get mis-clicked too, so if you really thought everything was copacetic, please do bring it up to an officer. Politely please, or we may consider the removal a happy accident.
</p>